@model LearningManagementSystem.Models.User

<input type="hidden" asp-for="CreatedAt" />
<input type="hidden" asp-for="UpdatedAt" />
<input type="hidden" asp-for="DisabledAt" />
<input type="hidden" asp-for="DeletedAt" />

<div class="row">
    <div class="col-md-6 mb-3">
        <div class="form-floating">
            <input asp-for="Username" class="form-control" />
            <label asp-for="Username" class="control-label"></label>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="form-floating">
            <input asp-for="Email" class="form-control" />
            <label asp-for="Email" class="control-label"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="form-floating">
            <input asp-for="Name" class="form-control" />
            <label asp-for="Name" class="control-label"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="form-floating">
            <input asp-for="Lastname" class="form-control" />
            <label asp-for="Lastname" class="control-label"></label>
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="form-floating">
            <input asp-for="CreatedAt" class="form-control" disabled />
            <label asp-for="CreatedAt" class="control-label"></label>
            <span asp-validation-for="CreatedAt" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="form-floating">
            <input asp-for="UpdatedAt" class="form-control" disabled />
            <label asp-for="UpdatedAt" class="control-label"></label>
            <span asp-validation-for="UpdatedAt" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="form-floating">
            <input asp-for="DisabledAt" class="form-control" disabled />
            <label asp-for="DisabledAt" class="control-label"></label>
            <span asp-validation-for="DisabledAt" class="text-danger"></span>
        </div>
    </div>
</div>